
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

@Html.ActionLink("Names List with (ViewBag)", "ViewBagView")
<br/>
@Html.ActionLink("Names List with (Model)", "ModelView")
<br/>
@Html.ActionLink("Names List with (ViewData)", "ViewDataView")
<br />
