
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div>
    <form action="CheckUser" method="post">
        Enter User Id: <input id="txtUserId" name="txtUserId" type="text"/><br />
        Enter Password: <input id="txtPassword" name="txtPassword" type="password" /><br />
        <input type="submit" value="Login"/>
    </form>
</div>

